services:
  backend:
    build: ./backend
    container_name: backend_app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
    command: python manage.py runserver 0.0.0.0:8000

  frontend:
    build: ./frontend
    container_name: frontend_app
    ports:
      - "5173:5173"
    depends_on:
      - backend
